[DEFAULT]
bind_host = {{ hostvars[inventory_hostname]['ansible_'~ api_interface]['ipv4']['address'] }}

[database]
connection = mysql+pymysql://glance:{{ openstack_glance_password }}@{{ internal_vip_address }}/glance

[keystone_authtoken]
www_authenticate_uri = http://{{ internal_vip_hostname }}:5000
auth_url = http://{{ internal_vip_hostname }}:5000
memcached_servers = {% for node in groups['controller'] %}{{ hostvars[node]['ansible_' ~ api_interface]['ipv4']['address'] }}:11211{% if not loop.last %},{% endif %}{% endfor %}

auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = glance
password = {{ openstack_glance_password }}

[oslo_messaging_amqp]
[oslo_messaging_kafka]
[oslo_messaging_notifications]
[oslo_messaging_rabbit]
[oslo_policy]

[paste_deploy]
flavor = keystone

[profiler]
